<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{site.title}} {% if page.title %}| {{page.title}} {% endif %}</title>

    <meta name="description" content="{% if page.tagline %}{{page.tagline}}{% endif %}">
    {% if page.categories %}
      {% for category in page.categories limit:1 %}
      <meta content="{{ category }}" property="article:section">
      {% endfor %}
    {% endif %}
    {% if page.tags %}
      {% for tag in page.tags %}
      <meta content="{{ tag }}" property="article:tag">
      {% endfor %}
    {% endif %}

    <meta content="{{ site.title }}" property="og:site_name">
    {% if page.title %}
      <meta content="{{ page.title }}" property="og:title">
    {% else %}
      <meta content="{{ site.title }}" property="og:title">
    {% endif %}
    {% if page.title %}
      <meta content="article" property="og:type">
    {% else %}
      <meta content="website" property="og:type">
    {% endif %}
    {% if page.description %}
      <meta content="{{ page.description }}" property="og:description">
    {% else %}
      <meta content="{{ site.description }}" property="og:description">
    {% endif %}
    {% if page.url %}
      <meta content="{{site.baseurl}}{{ page.url }}.html" property="og:url">
    {% endif %}
    {% if page.date %}
      <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
      <meta content="{{site.baseurl}}/about.html" property="article:author">
    {% endif %}
    {% if page.image %}
      <meta content="{{site.baseurl}}{{ page.image }}" property="og:image">
    {% else %}
      <meta content="{{site.baseurl}}/assets/images/logo.png" property="og:image">
    {% endif %}
    {% if page.categories %}
      {% for category in page.categories limit:1 %}
      <meta content="{{ category }}" property="article:section">
      {% endfor %}
    {% endif %}
    {% if page.tags %}
      {% for tag in page.tags %}
      <meta content="{{ tag }}" property="article:tag">
      {% endfor %}
    {% endif %}

    <link rel="stylesheet" href="/assets/css/main.min.css" />
</head>
<body>

  <div class="loader"><div class="spinner"></div></div>
    
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">{{site.title}}</a>
  <div class="collapse navbar-collapse  justify-content-end" id="navbarNavAltMarkup">
    <ul class="navbar-nav nav nav-pills">

      {% for nav in site.data.nav.nav %}
        <li class="nav-item"><a class="nav-link {{ nav.class }}" href="{{ nav.link }}">{{ nav.title }}</a></li>
      {% endfor %}
      
    </div>
  </div>
</nav>


<div id="myContainer">
  {% assign image_files = site.static_files | where: "image", true %}
  {% for myimage in image_files %}
    <div class="section">
      <img src="{{ myimage.path }}" width="100%" height="100%" />
    </div>
  {% endfor %}
</div>