.blog-page{
    position: absolute;
    top: 100px;
    left: 2%;
    right: 2%;
    background: white;
    border-radius: 5px;

    .posts{
        margin: 10px;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid $bluelight;
        
        .post{
            padding-bottom: 50px;
            .title{
                font-size: 24px;
            }
        }
    }
}