---
layout: default
---

<div class="blog-page">
    <div class="posts">
        {% for post in site.posts %}
        <section class="post">
            <h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a> <span class="date">{{ post.date | date_to_string }}</span></h2>
            <div class="border"></div>
            <div class="post-summary">{{ post.content }}</div>
            
        </section>
        {% endfor %}
    </div>
</div>